$primary-color: #5a43d9;
$primary-color-lighter: #ab9fff;
$primary-color-darker: #5a43d9;

$primary-color-contrast: #ffffff;
$primary-color-lighter-contrast: #ffffff;
$primary-color-darker-contrast: #ffffff;

$accent-color: #012a72;
$accent-color-lighter: #004bce;
$accent-color-darker: #001e52;

$accent-color-contrast: #ffffff;
$accent-color-lighter-contrast: #ffffff;
$accent-color-darker-contrast: #ffffff;

$warn-color: red;

$theme-color: #f1ecf9;
$theme-color-wait: #ddd8e5;

$recording-background-color: #ff897c;
$recording-foreground-color: #7e0006;

$snack-bar-info-supporting-text-color: black;
$snack-bar-info-container-color: $theme-color;
$snack-bar-error-supporting-text-color: #721c24;
$snack-bar-error-container-color: #f8d7da;
$snack-bar-warning-supporting-text-color: #856404;
$snack-bar-warning-container-color: #fff3cd;
$snack-bar-success-supporting-text-color: #155724;
$snack-bar-success-container-color: #d4edda;

$text-secondary: #474554;
