<p>
  Let record your voice!!!!
</p>

<div class="actions">
  <button mat-fab color="primary" *ngIf="recording() === 'inactive'" (click)="beginRecording()">
    <mat-icon>mic</mat-icon>
  </button>
  <button mat-fab color="primary" *ngIf="recording() === 'recording'" (click)="pauseRecording()">
    <mat-icon>pause</mat-icon>
  </button>
  <button mat-fab color="primary" *ngIf="recording() === 'paused'" (click)="resumeRecording()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-fab color="primary" *ngIf="recording() !== 'inactive'" (click)="stopRecording()">
    <mat-icon>square</mat-icon>
  </button>
</div>

